@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&display=swap');
.attribution { 
    font-size: 11px; text-align: center; 
}
.attribution a {
    color: hsl(228, 45%, 44%);
}

*{
    margin: 0;
    padding: 0;
}
body {
    height: 100vh;
    background-color:hsl(0, 100%, 98%);
    font-family: 'Josefin Sans', sans-serif;
}
.logo{
    margin: 50px 0 0 150px;
    position: absolute;
    padding-left: 5px;
}
h1{
    color: hsl(0, 36%, 70%);
    font-weight: 300;
    text-transform: uppercase;
    font-size: 80px;
    letter-spacing: 8px;
    line-height: 1;
    position: absolute;
    margin: 180px 0 0 150px;
}
h1 span{
    color: hsl(0, 6%, 24%);
    font-weight: 400;
}
.main{
    position: absolute;
    width: 40%;
    height: 100%;
    margin-left: 60%;
}
h3{
    color: hsl(0, 36%, 70%);
    font-weight: 400;
    margin: 430px 0 0 150px;
    position: absolute;
    line-height: 1.2;
}
.id{
    color: hsl(0, 36%, 70%);
    font-weight: 300;
    border: 1px solid hsl(0, 36%, 70%);
    width: 30%;
    padding: 20px;
    border-radius: 50px; 
    font-size: 16px;
    margin: 530px 0 0 150px;
    position: absolute;
}
.arrow{
    border: 1px solid transparent;
    background: linear-gradient(135deg, hsl(0,80%,86%), hsl(0,74%,74%));
    width: 8%;
    height: 8.5%;
    border-radius: 50px; 
    margin: 530px 0 0 35.9%;
    position: absolute;
}
.arr{
    margin: 20px 0 0 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.mobile{
    position: absolute;
    opacity: 0;
}
.movile{
    opacity: 0;
}

@media screen and (max-width: 375px) {
    .mobile{
        opacity: 1;
        margin: 100px 0 0 0;
        width: 140%;
        height: 50%;
    }
    .main{
        opacity: 0;
    }
    .logo{
        margin: 30px 0 0 50px;
        position: absolute;
        padding-left: 5px;
        width: 50%;
    }
    h1{
        color: hsl(0, 36%, 70%);
        font-weight: 300;
        text-transform: uppercase;
        font-size: 60px;
        letter-spacing: 12px;
        line-height: 1;
        text-align: center;
        justify-content: center;
        position: absolute;
        margin: 450px 0 0 100px;
    }
    h3{
        opacity: 0;
    }
    .movile{
        opacity: 1;
        color: hsl(0, 36%, 70%);
        font-weight: 400;
        margin: 630px 0 0 150px;
        position: absolute;
        line-height: 1.2;
        text-align: center;
    }
    .id{
        color: hsl(0, 36%, 70%);
        font-weight: 300;
        border: 1px solid hsl(0, 36%, 70%);
        width: 100%;
        padding: 20px;
        border-radius: 50px; 
        font-size: 16px;
        margin: 800px 0 0 60px;
        position: absolute;
    }
    .arrow{
        border: 1px solid transparent;
        background: linear-gradient(135deg, hsl(0,80%,86%), hsl(0,74%,74%));
        width: 25%;
        height: 10%;
        border-radius: 50px; 
        margin: 800px 0 0 102%;
        position: absolute;
    }
    .arr{
        margin: 20px 0 0 50px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
